/**
 * Variable Defaults
 */

// Branding
$primary-brand-color: #4286F5 !default;

// Typography
$font-family-sans-serif: Roboto,sans-serif !default;
$font-size-h1: 38px !default;
$headings-font-weight: 300 !default
$headings-line-height: 1.4 !default;

// Navbar
$navbar-height: 85px !default;
$navbar-default-bg: #fff !default;
$navbar-default-border: #fff !default;
$navbar-default-color: #293a46 !default;
$navbar-default-link-color: #293a46 !default;
$navbar-margin-bottom: 0px !default;
$navbar-btn-margin-top: 25px !default;

// Masthead
$masthead-padding-top: 30px !default;
$masthead-padding-bottom: 70px !default;

// Modal
$modal-lg: 450px;
$modal-md: 450px;
$modal-content-border-color: transparent;
$modal-header-border-color: transparent;

// Docs
// Colors //
$color__salmon:         #f4645f;
$color__darker_salmon:  #e74430;
$color__faint:          #f0f2f1;
$color__gray:           #525252;
$color__light_gray:     #aeaeae;
$color__lighter_gray:   #dee0df;
